body{

font-family: 'Roboto Condensed', sans-serif;
}


.jumbotron {
width: 100%;
}

.navbar {
text-align: center;
  margin-right: 10px;
  float: right;
  display: block;
  position: static;
  background-color: transparent;

}

li {
	margin: 0 auto;
	list-style: none;
	display: inline;
	padding-right: 5px;
}


h4 {
  text-align: center;
}

.rrss {
	text-align: center;
	margin: 0 auto;
}

.portafolio_item .img{
  height: 230px;
  overflow: hidden;
  position: relative;
}

.portafolio_item .img img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.img-responsive{
  display: block;
  height: auto;
}

.overlay {
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  overflow: hidden;

}

.col-md-4:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-md-4"] {
    width: 100%;
    color: red;
  }

 @media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-md-4"] {
    width: 100%;
    background-color: gray;
  } 

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}



/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.active,
.demo:hover {
  opacity: 1;
}